
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

.typing-animation {
  font-family: Lato;
  font-size: 1.5em;
  white-space: nowrap;
  overflow: hidden;
  border-right: 0.18em solid rgb(255, 255, 255);
  animation: blink-caret 0.75s step-end infinite;
  display: inline;
}

@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: rgb(255, 255, 255);
  }
}

/* Global or TypingAnimation.css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(0, 0, 0);
  color: white;
  display: flex;
  justify-content: center;
  line-height: 1.5;
}

.container {
  position: relative;
  /* height: 100vh; */
  background-color: rgb(41, 28, 4);
  width: 100%;
  max-width: 406px;
  overflow: hidden;
}


